<div class="col-md-12">
	<div class="header">
		<h1>User List</h1>
	</div>
	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</span>
		<input type="text" class="form-control" ng-model="searchInput">
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-1" style="text-align:center">Priority</th>
				<th class="col-md-2" style="text-align:center">ID</th>
				<th class="col-md-4" style="text-align:center">Title </th>
				<th class="col-md-3" style="text-align:center">Owner</th>
				<th class="col-md-2" style="text-align:center">Issue Count</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="user in users | filter:searchInput">
				<td class="col-md-1" style="text-align:center">
					<span class="glyphicon glyphicon-star" ng-if="user.priority"></span>
				</td>
				<td class="col-md-2" style="text-align:center">
					<a href="javascript:void(0);">1</a>
				</td>
				<td class="col-md-4" style="text-align:center">
					<a href="javascript:void(0);">A</a>
				</td>
				<td class="col-md-4" style="text-align:center">
					<a href="javascript:void(0);">{{user.username}}</a>
				</td>
				<td class="col-md-1" style="text-align:center">
					<span class="badge">2</span>
				</td>
			</tr>
		</tbody>
	</table>
		
	</form>
</div>