<div class="col-md-12">
	<span><a href='#/projects/{{issue.project_id}}'>Back</a><center><h1>#{{issue.id}} {{issue.name}}</h1></center><span>
	<h2>{{issue.description}}</h2>

	<!-- <h3>{{issue.status}}</h3> -->

	<!-- <h4>{{commentc.Duplicate}}</h4> -->

	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</span>
		<input type="text" class="form-control" ng-model="searchInput">
	</div>	
	<h3>List of Comments</h3><br>
	
	<div class="container" ng-repeat="comment in issue.comments | filter:searchInput">
		<div class="row">
			<div class="col-md-6">
				<div style="text-align:left"><div class="label label-info"><span class="glyphicon glyphicon-user"></span></div><font color="DarkCyan">&nbsp&nbsp{{ comment.user.username }}</font></div>
			</div>
			<div class="col-md-6">
				<div style="text-align:right"><div class="label label-default">{{ comment.updated_at }}</div></div>
			</div>
			
		</div>
		<br>
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{{comment.body}}
		</div>
		<br>
		<br>
		<div class="panel panel-default">
		</div>
	</div>
	
	<div class="clearfix"></div>
	<h3 ng-show="signedIn()">Add a new Comment</h3>

	<form ng-show="signedIn()" ng-submit="addComment()" style="margin-top:30px;">
		<div class="form-group">
			<textarea ng-model="body" class="form-control" placeholder="Add a new comment..."></textarea>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<button type="submit" class="btn btn-success">Create</button>
			</div>
		</div>
	</form>
</div>