<footer class="footer">
  <small>
    The Web-Based Issue Tracker
    by <a href="http://www.facebook.com/susobhang70">Susobhan Ghosh</a>
    and <a href="http://www.facebook.com/dipankar1995">Dipankar Niranjan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
  </nav>
</footer>
